#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-page{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
}

.img-grid{
  display: grid;
  grid-template-columns: repeat(
  auto-fill,
  minmax(150px, 1fr)
  );
  gap: 40px;

  & .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img{
    width: 100%;
    height:auto;
    aspect-ratio: 2/3;
    transition: all 0.25s;
  }

  & img:hover{
    filter: opacity(5%);
    cursor: pointer;
  }

  & .add-btn{
    position: absolute;
    user-select: none;
    z-index: -1;
  }
}


.reading-list{
  padding: 20px;
  background-color: #5c5757;
  border-radius: 10px;
}

.list-grid{
  display: grid;
  grid-template-columns: repeat(
  auto-fill,
  minmax(100px, 1fr)
  );
  gap: 40px;

  & .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img{
    width: 100%;
    height:auto;
    aspect-ratio: 2/3;
    z-index: 1;
    transition: all 0.25s;
  }

  & img:hover{
    filter: opacity(5%);
    cursor: pointer;
  }

  & .add-btn{
    position: absolute;
    user-select: none;
    z-index: 0;
  }
}

